@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

/* Catppuccin Latte (light mode) */
:root {
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;
}

/* Catppuccin Mocha (dark mode) */
.dark {
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
}

@theme {
  --font-sans: Geist Sans, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --color-ctp-rosewater: var(--ctp-rosewater);
  --color-ctp-flamingo: var(--ctp-flamingo);
  --color-ctp-pink: var(--ctp-pink);
  --color-ctp-mauve: var(--ctp-mauve);
  --color-ctp-red: var(--ctp-red);
  --color-ctp-maroon: var(--ctp-maroon);
  --color-ctp-peach: var(--ctp-peach);
  --color-ctp-yellow: var(--ctp-yellow);
  --color-ctp-green: var(--ctp-green);
  --color-ctp-teal: var(--ctp-teal);
  --color-ctp-sky: var(--ctp-sky);
  --color-ctp-sapphire: var(--ctp-sapphire);
  --color-ctp-blue: var(--ctp-blue);
  --color-ctp-lavender: var(--ctp-lavender);
  --color-ctp-text: var(--ctp-text);
  --color-ctp-subtext1: var(--ctp-subtext1);
  --color-ctp-subtext0: var(--ctp-subtext0);
  --color-ctp-overlay2: var(--ctp-overlay2);
  --color-ctp-overlay1: var(--ctp-overlay1);
  --color-ctp-overlay0: var(--ctp-overlay0);
  --color-ctp-surface2: var(--ctp-surface2);
  --color-ctp-surface1: var(--ctp-surface1);
  --color-ctp-surface0: var(--ctp-surface0);
  --color-ctp-base: var(--ctp-base);
  --color-ctp-mantle: var(--ctp-mantle);
  --color-ctp-crust: var(--ctp-crust);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  html {
    overflow-y: auto;
    color-scheme: light;
    scroll-padding-top: 100px;
  }

  html.dark {
    color-scheme: dark;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-ctp-base;
    @apply text-ctp-text;
  }

  header {
    @apply fixed left-0 right-0 top-0 z-50 py-6;
    @apply bg-ctp-base/90;
    @apply backdrop-blur-sm;
  }

  main {
    @apply flex-1 py-32;
  }

  footer {
    @apply py-6 text-sm;
  }

  article {
    @apply prose prose-neutral max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold;
    @apply prose-headings:text-ctp-text;
  }
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-[3px];
    @apply decoration-ctp-overlay0;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-ctp-mauve;
    @apply decoration-ctp-mauve;
  }
}

.animate {
  @apply -translate-y-3 opacity-0;
  @apply transition-all duration-300 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}

/* shiki config */
pre {
  @apply border border-ctp-surface0 py-5;
}

:root {
  --astro-code-foreground: #4c4f69;
  --astro-code-background: #e6e9ef;
  --astro-code-token-comment: #9ca0b0;
  --astro-code-token-keyword: #8839ef;
  --astro-code-token-string: #40a02b;
  --astro-code-token-function: #1e66f5;
  --astro-code-token-constant: #fe640b;
  --astro-code-token-parameter: #d20f39;
  --astro-code-token-string-expression: #ea76cb;
  --astro-code-token-punctuation: #8c8fa1;
  --astro-code-token-link: #04a5e5;
}

.dark {
  --astro-code-foreground: #cdd6f4;
  --astro-code-background: #181825;
  --astro-code-token-comment: #6c7086;
  --astro-code-token-keyword: #cba6f7;
  --astro-code-token-string: #a6e3a1;
  --astro-code-token-function: #89b4fa;
  --astro-code-token-constant: #fab387;
  --astro-code-token-parameter: #f38ba8;
  --astro-code-token-string-expression: #f5c2e7;
  --astro-code-token-punctuation: #bac2de;
  --astro-code-token-link: #89dceb;
}

/* copy code button on codeblocks */
.copy-code {
  @apply absolute right-3 top-3 grid size-9 place-content-center rounded-sm border border-ctp-surface0 bg-ctp-base text-center duration-300 ease-in-out;
}

.copy-code:hover {
  @apply bg-ctp-surface0 transition-colors;
}

.copy-code:active {
  @apply scale-90 transition-transform;
}
