---
interface Props {
  type?: "default" | "info" | "warning" | "error";
}
const { type = "default" } = Astro.props;
let emoji = "💡";
if (type === "info") {
  emoji = "ℹ️";
} else if (type === "warning") {
  emoji = "⚠️";
} else if (type === "error") {
  emoji = "🚨";
}

const baseClasses = "relative my-4 flex rounded border p-3";
const typeClasses = {
  default: "border-ctp-peach bg-ctp-peach/10 text-ctp-text",
  info: "border-ctp-blue bg-ctp-blue/10 text-ctp-text",
  warning: "border-ctp-yellow bg-ctp-yellow/10 text-ctp-text",
  error: "border-ctp-red bg-ctp-red/10 text-ctp-text",
};
---

<div class:list={["not-prose", baseClasses, typeClasses[type]]}>
  <span class="pointer-events-none pr-3 text-xl select-none">{emoji}</span>
  <slot />
</div>
